.collapsible{
	background-color: #303030;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border: solid 7px black;
}
